#domain-info-panel {
  position: absolute;
  top: 0;
  z-index: 9;
  background-color: #fff;
  height: 100%;
  width: 100%;
  .domain-info-header {
    padding: 8px 15px;
    border-bottom: 1px solid rgb(204, 204, 204);
    position: relative;
    .subject-classification-title {
      font-style: italic;
      font-size: 13px;
      text-transform: uppercase;
    }
    .domain-name {
      font-size: 18px;
      color: #666;
      font-weight: bold;
      width: 95%;
    }

    .close-panel {
      position: absolute;
      right: 15px;
      top: 15px;
      cursor: pointer;
      opacity: 0.6;
      &:hover {
        opacity: 1;
      }
    }
  }
  .domain-info-body {
    .tabbed-header {
      height: 40px;
      .tab-item {
        line-height: 40px;
        height: inherit;
      }
    }
    .active-tab-contents {
      max-height: 400px;
      overflow-y: auto;
    }
  }
}
