#content-usage-popup {
  width: 350px;
  background-color: $white;
  box-shadow: 0 0 5px $light-400;
  position: absolute;
  border-radius: 3px;

  #content-usage-popup-container {
    padding: 20px;

    .usage-heading {
      margin: 0;
      border-bottom: 2px solid $light-300;
      padding-bottom: 5px;
      font-weight: 700;
    }

    #usage-implementation {
      margin: 10px auto;
      border-bottom: 2px solid $light-300;
      padding-bottom: 5px;
    }

    #implementation-blk {
      padding: 5px;
      list-style: none;
    }

    #content-usage-details {
      display: grid;
      grid-template-columns: 1fr;

      p {
        margin: 5px 0;
      }

      .content-type-stats {
        display: grid;
        grid-template-columns: 160px 100px 55px;
        align-items: center;
      }

      .usage-total {
        text-align: right;
      }

      .icon_assessment {
        display: grid;
        grid-template-columns: 30px auto;
      }

      .icon_collection {
        display: grid;
        grid-template-columns: 30px auto;
      }

      .icon_assessment-external {
        display: grid;
        grid-template-columns: 30px auto;
      }

      .icon_resource {
        display: grid;
        grid-template-columns: 30px auto;
      }

      .icon_collection-external {
        display: grid;
        grid-template-columns: 30px auto;
      }

      .icon_offline-activity {
        display: grid;
        grid-template-columns: 30px auto;
      }

      .icon_course {
        display: grid;
        grid-template-columns: 30px auto;
      }
      .icon_question {
        display: grid;
        grid-template-columns: 30px auto;
      }
    }
  }
}
