#texas-container {
  width: 1200px;
  margin: 20px auto;
  position: relative;
  display: grid;
  grid-template-columns: 80% 20%;
  grid-column-gap: 20px;
  .texas-charts-with-district {
    .chart-top {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 300px;
    }
    .texas-performance-cards {
      width: 100%;
    }
  }
  .texas-performance-by-grade {
    height: 100%;
  }
}
