#subject-info-panel {
  background-color: #fff;
  position: relative;
  height: inherit;
  .subject-info-header {
    padding: 15px;
    .panel-label {
      font-size: 14px;
      font-weight: bold;
    }
  }
  .subject-info-body {
    height: calc(100% - 70px);
    > .tabbed-header {
      display: grid;
      grid-template-columns: repeat(4, auto);
      height: 40px;
      line-height: 40px;
      .tab-item {
        cursor: pointer;
        text-align: center;
        border-bottom: 1px solid;
        text-transform: uppercase;
        font-size: 11px;
        font-weight: bold;
        &.active,
        &:hover {
          color: rgb(26, 169, 235);
          border-bottom-width: 3px;
          border-bottom-color: rgb(26, 169, 235);
        }
      }
    }
    > .active-tab-contents {
      height: calc(100% - 40px);
      #domains-list-panel {
        margin-top: 4px;
        .panel-header {
          //Hiding subject/header in domain list panel
          display: none;
        }
        .panel-body {
          .domains-label {
            display: none;
          }
        }
      }
    }
  }
}
