#avg-session-pullup-container {
  .backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.4;
    top: 0;
    left: 0;
    z-index: 1;
    cursor: pointer;
  }
  .avg-session-panel {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 4;
    width: 80%;
    height: 100%;
    background-color: $white;
    .avg-session-panel-heading {
      .avg-session-top-header {
        display: grid;
        grid-template-columns: 150px 1fr 150px;
        align-items: center;
        padding: 10px;
        .avg-session-back {
          display: grid;
          grid-template-columns: 30px 1fr;
          align-items: center;
          font-size: 12px;
          cursor: pointer;
        }
        .avg-session-title {
          font-size: 20px;
          font-weight: bold;
          margin: 0;
          text-align: center;
          text-transform: uppercase;
        }
      }
      .avg-session-nav-tab-panel {
        width: 100%;
        text-align: center;
        padding-top: 5px;
        border-top: 1px solid $orange;
        border-bottom: 1px solid $orange;
        .nav-tab-list-blk {
          margin: 0;
          padding: 0;
          display: inline-flex;
          list-style: none;
          text-align: center;
          li {
            padding: 5px;
            margin: 0 10px;
            color: $light-500;
            font-size: 12px;
            border-bottom: 5px solid transparent;
            cursor: pointer;
            text-transform: uppercase;
            &.active {
              color: $orange;
              border-bottom: 5px solid $orange;
              font-weight: bold;
            }
          }
        }
      }
    }
    .avg-session-panel-body {
      display: grid;
      grid-template-columns: 200px 1fr;
      margin-top: 30px;
      .avg-session-left {
      }
      .avg-session-right {
        .avg-session-right-panel {
          padding-right: 30px;
          .avg-session-panel-title {
            margin: 0;
            padding: 10px;
            text-align: center;
            border-bottom: 1px solid $orange;
            text-transform: uppercase;
            font-size: 15px;
            margin-bottom: 20px;
          }
          .avg-session-panel-sub-body {
            .avg-session-sub-title {
              display: grid;
              grid-template-columns: 250px 1fr;
              grid-column-gap: 10px;
              align-items: center;
              text-transform: uppercase;
              font-size: 13px;
              font-weight: bold;
              .avg-session-sub-title-left {
                border-bottom: 1px solid $orange;
                text-align: right;
                padding-bottom: 10px;
              }
              .avg-session-sub-title-right {
                display: grid;
                align-items: center;
                border-bottom: 1px solid $orange;

                .avg-session-sub-title-blk {
                  padding: 0;
                  margin: 0;
                  display: inline-flex;
                  list-style: none;
                  padding-bottom: 10px;
                  li {
                    padding: 0 5px;
                  }
                }
              }
            }
            .avg-session-sub-body {
            }
          }
        }
      }
    }
  }
}
