.role-list-container {
  background-color: $white;
  box-shadow: 0 0 10px $light-200;
  padding: 10px;
  width: 100%;
  .role-list-blk {
    padding: 0;
    list-style: none;
    margin: 0;

    li {
      display: grid;
      grid-template-columns: 20px 1fr;
      align-items: center;
      grid-column-gap: 5px;
      padding: 7px 5px;
      font-size: 14px;
      cursor: pointer;
      text-transform: capitalize;
      span {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        font-size: 11px;
        text-transform: capitalize;
      }
      &.in-active {
        pointer-events: none;
        opacity: 0.6;
      }
      i {
        font-size: 20px;
        color: $light-300;
        background-color: $light-100;
        border-radius: 50%;
      }
    }
  }
}
