#mc-network-partners-type {
  width: 960px;
  margin: 0 auto;
  padding-top: 20px;
  color: $dark-500;

  #header-partners-type {
    background: $white;
    height: 80px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: grid;
    align-items: center;
    grid-template-columns: 90px 1fr;
    box-shadow: 0 0 2rem 0 rgba(136, 152, 170, 0.5);
    position: relative;
    #back-button {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background: $light-100;
      transition: 0.5s;
      justify-self: center;
      display: grid;
      align-items: center;
      justify-items: center;
      i {
        font-size: 30px;
      }
      &:hover {
        background: $light-200;
        cursor: pointer;
      }
    }
    h4 {
      margin: 0;
      padding: 0;
      font-weight: 600;
    }
  }
  #partners-data-sheet {
    #partners-data-sheet-header {
      display: grid;
      grid-template-columns: 1fr 1fr 150px 150px;
      height: 40px;
      background: $white;
      font-weight: 900;
      align-items: center;
      margin-bottom: 10px;
      .name {
        padding-left: 30px;
      }
    }
    #partners-data-sheet-body {
      padding-bottom: 50px;
      .partners-data-sheet-content {
        display: grid;
        grid-template-columns: 1fr 1fr 150px 150px;
        height: 50px;
        background: $white;
        align-items: center;
        border-bottom: 1px solid #ccc;
        font-size: 13px;
        .name {
          display: grid;
          grid-template-columns: 45px 1fr;
          align-items: center;
          padding-left: 20px;

          .partner-logo {
            img {
              width: 36px;
              border-radius: 50%;
              height: 36px;
              box-shadow: 0 0 5px 0 rgba(136, 152, 170, 0.7);
            }
          }
          p {
            margin: 0;
          }
        }
      }
    }
  }
}
