#month-year-picker {
  display: grid;
  grid-template-columns: auto auto auto auto;
  align-items: center;
  column-gap: 8px;
  .year-selector {
    position: relative;
    .active-year {
      cursor: pointer;
      padding: 0 8px;
      height: 30px;
    }
    .year-dropdown {
      box-shadow: 0px 4px 5px 1px rgba(0, 0, 0, 0.5);
      position: absolute;
      top: 30px;
      background-color: $white;
      z-index: 99;
      .year-val {
        display: block;
        padding: 0 8px;
        height: 30px;
        line-height: 30px;
        cursor: pointer;
        &.active,
        &:hover {
          background-color: rgba(0, 0, 0, 0.4);
        }
      }
    }
  }
  .load-month {
    cursor: pointer;
    width: 30px;
    height: 30px;
    text-align: center;
    i {
      font-size: 25px;
      line-height: 30px;
    }
    &.disabled {
      pointer-events: none;
      opacity: 0.3;
    }
    &:hover {
      background-color: rgba(0, 0, 0, 0.2);
      border-radius: 50%;
    }
  }
  .month-year-items {
    display: flex;
    .month-year-item {
      display: grid;
      grid-template-rows: 1fr 1fr;
      padding: 0 12px;
      cursor: pointer;
      .month {
        text-transform: uppercase;
        font-size: 22px;
        font-weight: bold;
        color: rgb(195, 198, 201);
        text-align: center;
      }
      .year {
        color: rgb(195, 198, 201);
        text-align: center;
      }

      &.active {
        background-color: #b7daed;
        background-image: linear-gradient(to top right, #2070b9, #4aaedb);
        .month,
        .year {
          color: #fff;
        }
      }
    }
  }
}
