.mc-proficiency-matrix {
  margin-top: 40px;
  .profiicency-matrix-container {
    width: 100%;
    padding: 0 20px;
    display: grid;
    grid-template-columns: 1fr 400px;
    grid-column-gap: 40px;
    height: calc(100vh - 100px);
    overflow: hidden;
    .learner-proficiency-chart-container {
      width: 100%;
    }
    .rigt-side-card {
      width: 100%;
      position: relative;
      #learning-map-content {
        position: absolute;
        top: 0;
        width: 100%;
        height: calc(100vh - 120px);
        overflow: hidden;
        background-color: $white;
      }
    }
  }
}
