#distribution-category-section {
  color: $white;

  .tooltip {
    padding: 20px;
    border-radius: 5px;
    z-index: 1;
    background-color: $dark-500;
    &::before {
      position: absolute;
      content: "";
      margin-left: -30px;
      width: 0;
      height: 0;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-right: 10px solid $dark-500;
    }
    h6 {
      margin: 0;
      color: $light-400;
    }
  }

  #piechart-category {
    display: flex;
    align-items: center;

    svg {
      margin: 0 auto;
    }

    .list-category {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        width: 20px;
        height: 20px;
        margin: 5px 0;
        span {
          margin-left: 25px;
        }
      }
    }
  }
}
