#nav-partners-container {
  padding-top: 20px;
  padding-bottom: 50px;

  h2 {
    font-family: open sans-serif;
    font-weight: 400;
    font-size: 36px;
    text-align: center;
  }

  #partners-data {
    display: grid;
    grid-template-columns: 240px 1fr 240px;
    align-items: center;
    justify-items: center;

    .header-panel-conatiner,
    .panel-conatiner {
      height: 140px;
      background: $white;
      border-radius: 4px;
      box-shadow: 0 0 2rem 0 rgba(136, 152, 170, 0.5);
      width: 240px;
    }

    .header-panel-conatiner {
      margin-bottom: 60px;
      position: relative;
      // cursor: pointer;

      &.has-not-partners {
        .panel-body {
          display: grid;
          align-items: center;
          justify-items: center;
        }
        pointer-events: none;
      }

      .connector-line {
        height: 3px;
        position: absolute;
        background: $blue-700;
        z-index: -1;

        &#connector-line-p10 {
          top: 240px;
          width: 374px;
          transform: rotate(55deg);
          left: 156px;
        }

        &#connector-line-p11 {
          top: 130px;
          width: 200px;
          transform: rotate(38deg);
          left: 206px;
        }

        &#connector-line-p12 {
          top: 74px;
          width: 200px;
          transform: rotate(-40deg);
          left: 206px;
        }

        &#connector-line-p13 {
          top: -20px;
          width: 300px;
          transform: rotate(-51deg);
          left: 180px;
        }

        &#connector-line-p20 {
          top: 240px;
          width: 374px;
          transform: rotate(126deg);
          right: 157px;
        }

        &#connector-line-p21 {
          top: 130px;
          width: 200px;
          transform: rotate(-37deg);
          right: 206px;
        }

        &#connector-line-p22 {
          top: 74px;
          width: 200px;
          transform: rotate(39deg);
          right: 206px;
        }

        &#connector-line-p23 {
          top: -20px;
          width: 300px;
          transform: rotate(-129deg);
          right: 180px;
        }
      }

      .panel-header {
        height: 30px;
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: 0.3s;
        p {
          margin: 0;
          padding-left: 8px;
        }
      }
      .panel-header:hover {
        color: #000;
      }

      .panel-body {
        height: 140px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        padding: 10px;
        font-size: 12px;
        color: $white;
        h3 {
          padding: 0;
          margin: 0;
          font-weight: bold;
        }

        .tabular-head {
          display: grid;
          grid-template-columns: 125px 1fr;
          font-style: italic;
          font-weight: bold;

          .count {
            justify-self: end;
          }
        }

        .tabular-body {
          .tabular-data {
            display: grid;
            grid-template-columns: 125px 1fr;
            padding-top: 8px;

            .count {
              justify-self: end;
              line-height: 2;
            }

            .name {
              @include ellipsis(12px, 2.2, 1);
            }
          }
        }
      }
    }

    #left-partner-panel {
      .header-panel-conatiner {
        .panel-body {
          background-color: $blue-400;
        }
      }
    }

    #partner-panel {
      .panel-body {
        .mc-icon.navigator-mix-color {
          margin: 0 auto;
          width: 60px;
          height: 70px;
          background-size: 60px 60px;
          background-position: 0px 10px;
        }

        p {
          margin: 0 auto;
          text-align: center;
          color: $blue-800;
          line-height: 1.3;
        }

        #partner-count {
          font-size: 24px;
        }

        #partner-active-count {
          font-size: 14px;
        }

        #no-of-countries {
          font-style: italic;
          font-weight: bold;
        }
      }
    }

    #right-partner-panel {
      .header-panel-conatiner {
        .panel-body {
          background-color: $green-400;
        }
      }
    }
    .partner-logo img {
      width: 25px;
      height: 25px;
      border-radius: 100%;
      margin-right: 5px;
      margin-bottom: 2px;
      background: #fff;
    }
  }
}
