#learner-proficiency-chart {
  .chart-actions {
    display: grid;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid;
    .toggle-graph-view {
      display: grid;
      grid-template-columns: auto auto;
      column-gap: 5px;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      height: 40px;
      background-color: #fff;
      line-height: 40px;
      border-radius: 20px;
      width: max-content;
      padding: 0 12px;
      border: 1px solid rgba(0, 0, 0, 0.4);
      color: rgb(26, 169, 235);
      font-weight: bold;
      justify-self: right;
    }
  }
  .chart-view {
    display: grid;
    grid-template-columns: auto 1fr;
    .grade-selector {
      position: relative;
      max-height: 300px;
      overflow-y: auto;
      .grade-label {
        border-bottom: 1px solid #000;
        color: #000;
        font-size: 13px;
        text-transform: uppercase;
        font-weight: bold;
      }
      .taxonomy-grade-list {
        .taxonomy-grade {
          height: 30px;
          line-height: 30px;
          cursor: pointer;
          display: grid;
          grid-template-columns: auto auto;
          align-items: center;
          justify-content: left;
          column-gap: 3px;
          margin: 8px 0;
          opacity: 0.6;
          i.adjust {
            font-size: 30px;
          }
          &.active,
          &:hover {
            opacity: 1;
            font-weight: bold;
          }
        }
      }
    }

    .proficiency-chart-container {
      transform: rotateX(180deg);
      transform-style: preserve-3d;
      overflow-y: auto;
      width: max-content;
      height: 300px;
      width: 605px;
      align-self: baseline;
      #chart-area {
        svg#chart-graph {
          width: max-content;
          #cells-group {
            #competency-cell {
              stroke: #fff;
              stroke-width: 1;
              shape-rendering: crispedges;
              stroke-opacity: 0.7;
              cursor: pointer;
            }
          }
          #skyline-group {
            filter: url(#back-shadow);
            line {
              stroke: #fff;
              stroke-width: 6px;
            }
          }
          #gradeline-group {
            line {
              stroke: #8fd383;
              stroke-width: 4px;
            }
          }
        }
      }
    }
    .domains-seq-list {
      grid-column-start: 2;
      display: flex;
      text-align: center;
    }
  }
}
