.app-header-nav {
  .nav-menu-container {
    display: grid;
    grid-template-columns: 150px 180px 150px 150px;
    align-items: center;
    justify-items: center;
    font-size: 15px;
    min-width: 600px;
    padding-left: 95px;
    @media only screen and (max-width: $screen-xs) {
      display: unset;
    }
    @media only screen and (max-width: $screen-sm) {
      grid-template-columns: 110px 110px 110px 110px;
      min-width: 450px;
    }

    .nav-menu {
      cursor: pointer;
      @media only screen and (max-width: $screen-xs) {
        padding-left: 30px;
        padding-top: 15px;
        padding-right: 30px;
      }

      &:hover {
        span {
          color: $blue-700;
        }
      }

      &.active {
        color: $blue-700;

        span {
          color: $blue-700;
          font-weight: bold;
        }
      }

      span {
        color: $dark-400;
        text-transform: uppercase;
        font-weight: 300;
      }
    }
  }
}
