.mc-domain-card {
  .mc-domain-card-container {
    background-color: $white;
    box-shadow: 0 0 5px $light-200;
    .domain-header {
      padding: 10px;
      margin: 0;
      border-bottom: 1px solid $light-200;
      font-size: 23px;
    }
    .domain-body {
      height: calc(100vh - 200px);
      overflow-y: auto;

      .domain-section {
        .domain-content-title {
          display: grid;
          grid-template-columns: 40px 1fr 40px;
          align-items: center;
          padding: 7px 0;
          border-top: 1px solid $light-200;
          font-weight: bold;
          font-size: 13px;
          cursor: pointer;
          i {
            text-align: center;
            font-size: 19px;
            &.arrow_drop_down {
              font-size: 25px;
            }
          }
          .domain-name {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
        }
        .domain-content-section {
          display: grid;
          grid-template-columns: 1fr 1fr;
          align-items: center;
          grid-column-gap: 10px;
          padding: 10px;
          grid-row-gap: 10px;

          .competency-panel {
            padding: 10px;
            box-shadow: 0 0 10px $light-200;
            display: grid;
            grid-template-columns: 1fr;
            cursor: pointer;

            .competency-title {
              padding: 5px;
              font-size: 13px;
              font-weight: bold;
              border-bottom: 1px solid $light-200;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
            .competency-description {
              padding: 5px;
              overflow: hidden;
              font-size: 13px;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
          }
        }
      }
    }
  }
}
