.activity-search-filter-accordion {
  padding: 5px;
  text-transform: capitalize;
  font-size: 12px;

  .activity-search-filter-accordion-container {
    .filter-header {
      display: grid;
      grid-template-columns: 1fr 30px;
      align-items: center;
      cursor: pointer;
      font-weight: bold;
    }
    .filter-body {
      position: relative;

      .filter-body-content {
        position: absolute;
        top: 10px;
        left: 0;
        background-color: $white;
        z-index: 100;
        padding: 10px;
        width: max-content;
        max-width: 400px;
        box-shadow: 0 0 4px $light-300;
        max-height: 200px;
        overflow-y: auto;

        .item-list {
          padding: 2px;
          display: block;
          cursor: pointer;
          display: grid;
          grid-template-columns: 25px 1fr;
          align-items: center;
          font-size: 13px;
          i {
            color: $blue;
            font-size: 22px;
          }
          span {
            display: grid;
            display: block;
            align-items: center;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
          }
        }
      }
    }
  }
}
