#distribution-content-section {
  #content-distribution-piechart {
    .content-type-pie-text {
      fill: $white;
      font-weight: 900;
      font-size: 12px;
    }
  }
  #content-type-tooltip {
    position: absolute;
    display: none;
    background-color: $white;
    border-radius: 10px;
    color: $dark-400;
    p {
      margin: 0;
      padding: 5px;
    }
  }
}
