$logo: "~@/assets/images/gooru.svg";
$gooruLogo: "~@/assets/images/gooru-logo.svg";
$student: "~@/assets/images/student.svg";
$teacher: "~@/assets/images/teacher.svg";
$googleLogo: "~@/assets/images/google-logo.svg";
$bingLogo: "~@/assets/images/bing-logo.svg";
