$mc-icon-classroom-white: "~@/assets/icons/classroom-white.png";
$mc-icon-navigator-white: "~@/assets/icons/navigator-white.svg";
$mc-icon-pin-white: "~@/assets/icons/pin-white.svg";
$mc-icon-navigator-mix-color: "~@/assets/icons/navigator-mix-color.png";
$mc-icon-offline-gray: "~@/assets/icons/offline-gray.svg";
$mc-icon-course-gray: "~@/assets/icons/course-gray.svg";
$mc-icon-collection-gray: "~@/assets/icons/collection-gray.svg";
$mc-icon-question-gray: "~@/assets/icons/question-gray.svg";
$mc-icon-resource-gray: "~@/assets/icons/resource-gray.svg";
$mc-icon-assessment-gray: "~@/assets/icons/assessment-gray.svg";
