// Colors
// --------------------------------------------------

$white: #ffffff;
$blue: #007bff !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #28a745 !default;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;

//** Green
$green-100: #d1e2ce !default;
$green-200: #a3ca9f !default;
$green-300: #76b072 !default;
$green-400: #4b9741 !default;
$green-500: #00793e !default;

//** Blue
$blue-100: #c1dbee !default;
$blue-200: #84b7dd !default;
$blue-300: #4795cc !default;
$blue-400: #0072bc !default;
$blue-500: #0051a3 !default;
$blue-600: #00458a !default;
$blue-700: #2ea9e9 !default;
$blue-800: #00ace9 !default;

//** Dark
$dark-50: #cacaca !default;
$dark-100: #949a9f !default;
$dark-200: #67727b !default;
$dark-300: #535e67 !default;
$dark-400: #37424b !default;
$dark-500: #29323a !default;
$dark-600: #979797 !default;
$dark-700: #36424a !default;
$dark-800: #4a4a4a !default;
$dark-900: #35424b !default;

//** Light
$light-100: #f1f3f7 !default;
$light-200: #e3e5ea !default;
$light-300: #cdd2d6 !default;
$light-400: #b8bfc4 !default;
$light-500: #959a9e !default;
$light-600: #cccccc !default;

// Screen Sizes
// --------------------------------------------------

$screen-xs: 480px !default;
$screen-sm: 768px !default;
$screen-md: 992px !default;
$screen-lg: 1024px !default;
$screen-xlg: 1440px !default;
$screen-320: 320px !default;
